<section class="my-5" >
    <div class="row">
        
        <form style="width: 100%;"  [formGroup]="search" (ngSubmit)="searchNow()" >

            <div class="row">
                <div class="col-md-9">
                    <input formControlName="q" type="text" class="form-control" placeholder="searching for..." >
                </div>
                <div class="col-md-3">
                    <div *ngIf="isLoading" class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>

                    <button *ngIf=" ! isLoading"  class="btn btn-primary btn-block" type="submit">SEARCH</button>
                </div>
            </div>
        </form>
        
    </div>
</section>

<!-- result  -->

<section id="movies-list">

    <div class="row">
        <div class="col-sm-12 col-md-3" *ngFor="let m of movies" >

            <app-movie imgURL=" {{ m.large_cover_image }} "  id="{{m.id}}" gendre="{{ m.genres }}" title=" {{m.title_english}} "></app-movie>
        </div>
    </div>

</section>